<div class="lib-tree">
  <ul class="ul-padding-inline-start">
    <li *ngFor="let fol of libData" class="li-list-style-none">
      <div *ngIf="isShow">
        <i class="glyphicon" [ngClass]="fol.isTreeOpen?fol.IconOpen:fol.IconClose" [ngStyle]="{'color': fol.Theme}" (click)="iconClick(fol)"></i>&nbsp;&nbsp;
        <label class="text-font" (click)="moveTo(fol.Uri,false)" changeThemeWhenHover [bgColor]="fol.BgColor" [fontColor]="fol.FontColor">{{fol.Title}}</label>
      </div>
      <lib-tree [libData]="fol.ChildRecords" *ngIf="fol.isTreeOpen"></lib-tree>
    </li>
  </ul>
</div>